* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'ubuntu';

}

html,
body {
	height: 100%;
	width: 100%;
}

.header {
	height: 6vmax;
	font-size: 1.5vmax;
	border: 1px solid rgb(253, 251, 251);
	background-color: grey;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	color: white;
}

.footer {
	height: 6vmax;
	font-size: 1.1vmax;
	border: 1px solid white;
	background-color: grey;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content {
	height: calc(100% - 12vw);
	border: 0px solid crimson;
	/* background: linear-gradient(90deg, rgb(131,137,150) 0%, rgb(218, 218, 227) 35%, rgb(211,211,211) 100%); */
	background: linear-gradient(45deg, #d3d3d3,#838996);
	/* background-color: indianred; */
	display: flex;
	justify-content: center;
	align-items: center;
}

.from {
	height: 20vmax;
	width: 32vmax;
	border: 1px solid black;
	margin: 5vmax;
	/* margin-left: 20vw; */
	border-radius: 15px;
	float: left;
}

.to {
	height: 20vmax;
	width: 32vmax;
	border: 1px solid black;
	margin: 5vw;
	/* margin-left: 20vw; */
	border-radius: 15px;
	float: left;
}

@media (max-width: 600px) {
	.content {
		height: calc(100% - 12vmax);
		border: 1px solid black;
		flex-wrap: wrap;
		/* display: grid; */
		justify-content: center;
		align-items: center;

	}

	.from {
		height: 25vmax;
		width: 38vmax;
		border: 1px solid black;
		margin: 10vmax;
		/* margin-left: 20vmax; */
		border-radius: 15px;
		float: left;

	}

	.to {
		height: 25vmax;
		width: 38vmax;
		border: 1px solid black;
		margin: 10vmax;
		/* margin-left: 20vmax; */
		border-radius: 15px;
		float: left;
	}


}